script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBuS0rXqj09IlM9dwjh7a10T8SNniq5cs")
script(src='libs/jquery/jquery-3.1.0.min.js')
script(src="libs/validation/masked_input.min.js")
script(src='libs/slick-slider/slick.min.js')
script(src='libs/validation/jquery.form.min.js')
script(src='libs/validation/jquery.validate.min.js')
script(src='libs/validation/additional-methods.min.js')
script(src='libs/validation/contact.form.js')
script(src='js/common.js')


