footer#footer
    .container
        h2 Оставить заявку
        form#footer-form
            .input-wrap
                input(name='userName' type='text' placeholder='Введите имя')
            .input-wrap
                input.phone-input(name='userPhone' type='text' placeholder='Введите телефон')
            button(type='submit') Отправить заявку
        #hidden-form-wrap
            h3 Ваша заявка успешно отправлена!
        a(href='tel:+380674586325') +38 (067) 458-63-25