header
    .container
        nav
            a(href='tel:+380674586325') +38 (067) 458-63-25
            a.scroll-link(href='#footer' data-scroll='scroll') Оставить заявку
    .head-wrap
        .container
            h1 Продаeтся земельный участок
            a.scroll-link(href='#video-block' data-scroll='scroll') Смотреть видео обзор
    .slider-section
        .wrap
            img(src='img/slider/slider_img.png' alt='img title')
        .wrap
            img(src='img/slider/slider_img.png' alt='img title')
        .wrap
            img(src='img/slider/slider_img.png' alt='img title')
        .wrap
            img(src='img/slider/slider_img.png' alt='img title')