meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel="stylesheet")
link(href='libs/slick-slider/slick.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')

