doctype html
html(lang='ru')
    head
        include head
        block title
            title Sell
    body
        include header

        block content

        include footer
        include foot