@import "../components/vars"

.video-section
  clear: both
  padding-bottom: 80px
  position: relative
  &:before
    z-index: 2
    position: absolute
    content: url("../img/bg-img1.png")
    left: 0
    bottom: 0
  .text
    max-width: 800px
    margin: 0 auto 80px
    p
      font-size: 16px
      line-height: 24px
      color: #000
  h2
    text-align: center
    font-size: 60px
    line-height: 1.08
    margin-bottom: 50px
  .video-wrap
    position: relative
    z-index: 3
    max-width: 850px
    margin: 0 auto
.map-section
  position: relative
  overflow: hidden
  padding-top: 50px
  &:after
    z-index: 2
    position: absolute
    content: url("../img/bg-img2.png")
    right: -150px
    bottom: 70px
  h2
    margin-bottom: 40px
    text-align: center
    font-size: 60px
    line-height: 1.08
.googleMap
  position: relative
  z-index: 5
  margin-bottom: 100px
  height: 480px
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26)

.img-block
  position: relative
  &:before
    position: absolute
    z-index: 3
    content: url("../img/bg-img2.png")
    left: -215px
    top: -360px