@font-face
    font-family: 'ReginaKursiv-Italic'
    src: url('../fonts/Regina/ReginaKursiv-Italic.eot?#iefix') format("embedded-opentype"), url('../fonts/Regina/ReginaKursiv-Italic.woff') format("woff"), url('../fonts/Regina/ReginaKursiv-Italic.ttf') format("truetype"), url('../fonts/Regina/ReginaKursiv-Italic.svg#ReginaKursiv-Italic') format("svg")
    font-weight: normal
    font-style: normal


@font-face
    font-family: 'icomoon'
    src: url('../fonts/icomoon/icomoon.eot?9c1rp4')
    src: url('../fonts/icomoon/icomoon.eot?9c1rp4#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?9c1rp4') format("truetype"), url('../fonts/icomoon/icomoon.woff?9c1rp4') format("woff"), url('../fonts/icomoon/icomoon.svg?9c1rp4#icomoon') format("svg")
    font-weight: normal
    font-style: normal


[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts
    font-family: 'icomoon' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    /* Better Font Rendering ===========
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-next:before
    content: "\e900"

.icon-prev:before
    content: "\e900"
    transform: rotate(180deg)

.icon-play-button:before
    content: "\e901"