@import "vars"

footer
  text-align: center
  padding: 88px 0 40px
  position: relative
  overflow: hidden
  z-index: 5
  min-height: 500px
  &:after
    position: absolute
    top: 0
    left: -1%
    content: ''
    width: 102%
    height: 200%
    border-radius: 50%
    background-color: #000
    background-image: url("../img/header-bg.png")
    background-repeat: no-repeat
    background-position: center 170%
    background-size: cover
  &>.container
    position: relative
    z-index: 2
    &:before
      position: absolute
      content: url("../img/cloud.png")
      right: -48px
      top: -108px
    &:after
      position: absolute
      content: url("../img/cloud.png")
      left: -100px
      top: 50px
  h2
    font-size: 60px
    line-height: 1.08
    color: #fff
    margin-bottom: 40px
  form
    max-width: 300px
    margin: 0 auto 100px
    button
      display: block
      width: 100%
  #hidden-form-wrap
    max-width: 300px
    margin: 0 auto 100px
    height: 180px
    display: none
    h3
      padding-top: 60px
      font-size: 40px
      color: #fff
      text-align: center
  a
    color: #fff
    display: inline-block
    font-size: 32px
    text-decoration: none!important
  .input-wrap
    position: relative
    label.error
      position: absolute
      left: 0
      bottom: -20px
      font-size: 14px
      color: #930806
input
  font-family: 'Roboto', sans-serif
  display: block
  width: 100%
  height: 40px
  background: #fff
  border: solid 1px #cccccc
  border-radius: 2px
  color: #000
  line-height: 40px
  padding: 0 10px
  margin: 0 auto 30px
  font-size: 16px
  &.invalid
    border-color: #930806
  &.valid
    border-color: #19B5FE