@import "vars"

header
    background: url("../img/map-land.png") no-repeat center
    position: relative
    overflow: hidden
    &:before
        position: absolute
        top: -50%
        left: -1%
        content: ''
        width: 102%
        height: 100%
        border-radius: 50%
        background-color: #000
        background-image: url("../img/header-bg.png")
        background-repeat: no-repeat
        background-position: center -170%
        background-size: cover

    &>.container
        position: relative
        z-index: 2
    nav
        position: relative
        z-index: 2
        padding: 28px 85px 29px 0
        text-align: right
        a
            text-decoration: none!important
        a.scroll-link
            outline: 0
            border: 0
            display: inline-block
            height: 40px
            padding: 0 32px
            font-size: 16px
            font-family: 'Roboto', sans-serif
            color: #fff
            background: rgb(191, 11, 8)
            border-radius: 4px
            cursor: pointer
            transition: .3s ease all
            margin-left: 40px
            &:hover
                background: #930806

    a
        color: #fff
        font-size: 20px
        line-height: 40px
    .head-wrap
        position: relative
        z-index: 2
        padding: 26px 0 26px
        color: #fff
        text-align: center
        margin-bottom: 30px
        background: rgba(0,0,0, .54)
        &:before, &:after
            position: absolute
            left: 0
            bottom: -180px
            content: url("../img/cloud.png")
        &:after
            left: inherit
            right: 0
            bottom: -220px
        h1
            font-size: 64px
            margin-bottom: 24px
        a
            position: relative
            padding-left: 44px
            font-weight: 500
            font-size: 18px
            line-height: 1.33
            text-decoration: underline
            &:hover
                text-decoration: none
            &:before
                position: absolute
                left: 0
                top: -7px
                margin: auto
                font-size: 30px
                font-family: icomoon!important
                content: '\e901'

.slider-section
    position: relative
    z-index: 5
    &:before
        position: absolute
        right: 13%
        bottom: -10px
        content: url("../img/cloud.png")
    .wrap
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.56)
        margin: 0 0.4%
        position: relative
        &:before
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            content: ''
            background: rgba(0,0,0,.5)
            transition: .3s ease all
            opacity: 1
        &.slick-active
            &:before
                opacity: 0
        img
            width: 100%
    .slick-list
        overflow: inherit
    .slick-dots
        text-align: center
        margin: 0 auto
        padding: 32px 0 40px
        li
            transition: .3s ease all
            display: inline-block
            margin: 0 5px
            border-radius: 50%
            text-indent: -9999px
            width: 10px
            height: 10px
            background: #ccc
            &.slick-active
                background: #6a8814
    .slick-prev, .slick-next
        position: absolute
        bottom: 0
        top: -100px
        margin: auto
        z-index: 3
        width: 40px
        height: 75px
        background: rgba(0,0,0,0)
        &:before
            font-family: 'icomoon'!important
            z-index: 5
            content: '\e900'
            width: 100%
            height: 100%
            margin: auto
            position: absolute
            color: #fff
            font-size: 75px
            top: 0
            bottom: 0
    .slick-prev
        left: 5%
        &:before
            transform: rotate(180deg)

    .slick-next
        right: 5%

    img
        height: 100%
        margin: 0 auto

